.counter {
    width: 500px;
    height: 500px;
    background-color: #555;
    /* 把父元素设为弹性盒子模型 */
    display: flex;
    /* 水平对齐方式 */
    align-items: center;
    /* flex-direction: column; 子元素排列方式*/
    /* 垂直对齐方式 */
    justify-content: center;
}

.box1 {
    width: 100px;
    height: 100px;
    background-color: #f00;
    /* flex 是子元素占父元素的比例  此时宽或高就不起作用了*/
    flex: 2;
}

.box2 {
    width: 100px;
    height: 100px;
    background-color: #0f0;
    flex: 2;
}

.box3 {
    width: 100px;
    height: 100px;
    background-color: #00f;
    flex: 1;
}