/* 消除标签的默认的样式 */
* {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

/* 元素选择器 */
h1 {
    color: #00f;
}

/* 类选择器 */
.text_p {
    color: #f93;
}

.text_size {
    font-size: 100px;
}

/* id选择器 */
#text {
    font-size: 50px;
}

/* 合并选择器 */
h2,
h3 {
    color: aquamarine;
    font-size: 20px;
}

/* 后代选择器 */
ul li {
    font-weight: 700;
}

/* 子代选择器 */
div>p {
    color: aquamarine;
}

/* 相邻兄弟选择器 向下选择 */
h4+p {
    font-size: larger;
    font-weight: 700;
}

/* 通用兄弟选择器 */
h5~p {
    font-size: 20px;
    font-weight: 500;
}

/* 阴影box-shadow */

/* 圆角border-radius */